@media (max-width: 700px) {
  body {
    margin-top: 5%;
    margin-bottom: 30%;
    margin-right: 25%;
  }

  .foto_perfil {
    margin: 25px 70% 25px 10%;
  }

  .titulo_lado_direito {
    display: none;
  }

  .experiencias {
    display: none;
  }
}
